<div class="app">
  <div class="main-container">
    <!-- HAMBURGET BUTTON -->
    <button
      *ngIf="!isSidebarOpen"
      class="hamburger-btn"
      (click)="toggleSidebar()"
    >
      &#9776;
    </button>

    <!-- SIDEBAR (NAVBAR) -->
    <div class="side-menu" [ngClass]="{ open: isSidebarOpen }">
      <app-navbar
        [isSidebarOpen]="isSidebarOpen"
        (toggleSidebar)="toggleSidebar()"
      ></app-navbar>
    </div>

    <!-- This is where the routed component will be displayed -->
    <div>
      <router-outlet />
    </div>
  </div>
</div>
